.container {
	background: #1e3c72;
    background: -webkit-linear-gradient(to right, #2a5298, #091d42);
    background: linear-gradient(to right,#2a5298, #081835 );
	
}
.item {
	color: aliceblue;
	font-size: 30px;
	background-color: black;
	width: 400px;
	border-radius: 12px;
	text-align: center;

}
button{
	font-size: 25px;
	border-radius: 12px;
	align-items: end;
	
}

 .row {

	display: flex;
	flex-wrap: wrap;
	
 

 }




