
<div class="dashboard">
    <h1 class="saludo">Bienvenido</h1>
        <div class=" add col-2 ">
            <a class="btn-add btn-primary " routerLink="/agregarItem">Agregar elementos</a>
        </div>
</div>
    <div class="das ">
        <div class="container">
            <div class="row">
                <div class="col-6  d-flex">
                    <div class="card">
                        <div class="card-body">
                            <div class="number">50</div>
                            <div class="name">Peliculas</div>
                        </div>
                        <div class="card-footer">
                            <div class="number">45</div>
                            <div class="name">Series</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    



