<section class="body">

        
    <div class="d-flex justify-content-center align-items-start flex-wrap">
        <div class="card col-md-3 col-12">
            <div 
                class="star d-flex justify-content-center align-items-center qualification"
                >
                <i class="far fa-star mr-1">
                <img class="Estar" src="/assets/icons8-estrella-26 (1).png" alt="">
                </i>8.5
            </div>
                <img class="portada" src="/assets/1-black-widow.svg" alt="portada">
                  <p class="title-card link-regular">Black Widow</p>
  
        </div>
            <div class="card cl-md-3 col-12">
              <div 
                class="star d-flex justify-content-center align-items-center qualification"
                  >
                  <i class="far fa-star mr-1">
                    <img class="Estar" src="./../assets/icons8-estrella-26 (1).png" alt=""></i>8.1
              </div>
                  <img class="portada" src="/assets/2-shang-chi.svg" alt="portada">
                    <p class="title-card link-regular">Shang-Chi</p>
  
            </div>
             <div class="card cl-md-3 col-12">
                  <div 
                    class="star d-flex justify-content-center align-items-center qualification"
                         >
                          <i class="far fa-star mr-1">
                            <img class="Estar" src="./../assets/icons8-estrella-26 (1).png" alt=""></i>8.2
                  </div>
                      <img class="portada" src="/assets/3-loki.svg" alt="portada">
                        <p class="title-card link-regular">Loki</p>
  
              </div>
                <div class="card cl-md-3 col-12">
                    <div 
                        class="star d-flex justify-content-center align-items-center qualification"
                              >
                              <i class="far fa-star mr-1">
                                <img class="Estar" src="./../assets/icons8-estrella-26 (1).png" alt=""></i>7.9
                    </div>
                          <img class="portada" src="/assets/4-how-i-met-your-mother.svg" alt="portada">
                            <p class="title-card link-regular">How i met your mother</p>
  
                </div>
                    <div class="card cl-md-3 col-12">
                        <div 
                          class="star d-flex justify-content-center align-items-center qualification"
                              >
                              <i class="far fa-star mr-1">
                                <img class="Estar" src="./../assets/icons8-estrella-26 (1).png" alt=""></i>7.8
                        </div>
                        <img class="portada" src="/assets/5-money-heist.svg" alt="portada">
                          <p class="title-card link-regular">Money Heist</p>    
                    </div>
                      <div class="card col-md-3 col-12">
                          <div 
                            class="star d-flex justify-content-center align-items-center qualification"
                            >
                            <i class="far fa-star mr-1">
                              <img class="Estar" src="./../assets/icons8-estrella-26 (1).png" alt=""></i>8.5
                          </div>
                          <img class="portada" src="/assets/6-friends.svg" alt="portada">
                          <p class="title-card link-regular">Friends</p>
                      </div>
    
                        <div class="card col-md-3 col-12">
                          <div 
                            class="star d-flex justify-content-center align-items-center qualification">
                            <i class="far fa-star mr-1">
                              <img class="Estar" src="./../assets/icons8-estrella-26 (1).png" alt=""></i>8.4
                          </div>
                            <img class="portada" src="/assets/7-the-big-bang-theory.svg" alt="portada">
                            <p class="title-card link-regular">The Big Bang Theory</p>
                        </div>
                          <div class="card cl-md-3 col-12">
                            <div 
                              class="star d-flex justify-content-center align-items-center qualification"
                              >
                              <i class="far fa-star mr-1">
                                <img class="Estar" src="./../assets/icons8-estrella-26 (1).png" alt=""></i>8.0
                            </div>
                              <img class="portada" src="/assets/8-two-and-a-half-men.svg" alt="portada">
                              <p class="title-card link-regular">Two and a Half Men</p>
    
                          </div>
    </div>       

</section>

