<!-- 
<header class="fixed-top">
    <div class="container d-flex aling-items-center justify-content-between">
        <a routerLink="home"  >
            <img class="logo" src="./../assets/icon.svg" alt="logo-pelisup!">
        </a>
        <ul class="main">
            <li class="link item-main">
                <a routerLink="inicio">Inicio</a>
            </li>

            <li class="link item-main">
                <a routerLink="peliculas">Peliculas</a>
            </li>
            <li class="link item-main">
                <a routerLink="series">Series</a>               
  
            </li>
            <li class="link item-main">
                <a routerLink="ingresar">Ingresar
                </a>
            </li>  
        </ul>
    </div>  
  </header>

  <section class="container pt-70">
        <h1 class="title">PelisUp! </h1>
        <p class="body-regular description">
          Plataforma para ver peliculas y series
        </p>
        <input 
            class="search"            
            placeholder="Buscar peliculas y series"
            type="search"
        />
        <!- <div class="d-grid gap-2 d-md-block">
            <button type="button" class="btn btn-primary" (click)="('Todos')"[ngClass]="selected =='Todos'?'button-selected':'button-noselected'">Todos</button>
            <button type="button" class="btn btn-primary" (click)="('Peliculas')"[ngClass]="selected =='peliculas'?'button-selected':'button-noselected'">Peliculas</button>
            <button type="button" class="btn btn-primary" (click)="('Series')"[ngClass]="selected =='series'?'button-selected':'button-noselected'">Series</button>
          </div> -->
    <!-- <h3 class="all d-block">Todos <small class="body-regular"> (120)</small></h3>

  </section> --> 
