<header class="fixed-top">
    <div class="conteiner d-flex aling-items-center justify-content-between">
        <a routerLink="home d-flex"  >
            <img class="logo" src="./../assets/icon.svg" alt="logo-pelisup!">
        </a>
        <ul class="main d-flex">
            <li class="link item-main">
                <a routerLink="inicio">Inicio</a>
            </li>
  
            <li class="link item-main">
                <a routerLink="peliculas">Peliculas</a>
            </li>
            <li class="link item-main">
                <a routerLink="series">Series</a>               
  
            </li>
            <li class="link item-main">
                <a routerLink="ingresar">Ingresar
                </a>
            </li>  
        </ul>
    </div>  
  </header>
  