
<header >
    <div class="container ">
      
        
            <img class="logo" src="./../assets/icon.svg" alt="logo-pelisup!">
        
        <ul class="main">
          <li class="link item-main">
            <a routerLink="/inicio" >Inicio</a>
          </li>
          <li class="link item-main">
            <a routerLink="/peliculas" >Peliculas</a>
          </li>
          <li class="link item-main">
            <a routerLink="/series" >Series</a>
          </li>
          <li class="link item-main">
            <a routerLink="/ingresar" >Ingresar</a>
          </li>
        </ul>           
                
                

    </div>
    <section class="container pt-70">
      <h1 class="title">PelisUp! </h1>
      <p class="body-regular description">
        Plataforma para ver peliculas y series
      </p>
      <input 
          class="search"            
          placeholder="Buscar peliculas y series"
          type="search"
      />
      
      <div class="tab pr-0 pl-0 col-md-6 col-12">
        <li class="regular item-tab active">Todos</li>
        <li class="regular item-tab ">Peliculas</li>
        <li class="regular item-tab ">Series</li>
      </div>
    <h3 class="all d-block">Todos <small class="body-regular"> (120)</small></h3>

  </section> 

    
   
  </header>
