<header class="fixed-top">
    <div class="container d-flex aling-items-center justify-content-between">
        <a routerLink="home"  >
            <img class="logo" src="./../assets/icon.svg" alt="logo-pelisup!">
        </a>
        <ul class="main">
            <li class="link-regular item-main">
                <a class="link" href="#">Inicio</a>
            </li>

            <li class="link-regular item-main">
                <a class="link" href="#">Peliculas</a>
            </li>
            <li class="link-regular item-main">
                <a class="link" href="#">Series</a>               
  
            </li>
            <li class="link-regular item-main">
                <a class="link" href="#">Ingresar
                </a>
            </li>
                
           
            
  
        </ul>
    </div>
  
  </header>
  <section class="container pt-70">
        <h1 class="title">PelisUp! </h1>
        <p class="body-regular description">
          Plataforma para ver peliculas y series
        </p>
        <input 
            class="search" 
            name="search" 
            placeholder="Buscar peliculas y series"
            type="search"
        />
    <div class="tab pr-0 pl-0 col-md-6 col-12">
        <li class="link-regular item-tab active">Todos</li>
        <li class="link-regular item-tab ">Peliculas</li>
        <li class="link-regular item-tab ">Series</li>
    </div>
  
    <section>
        <h3 class="all d-block">Todos <small class="body-regular"> (120)</small></h3>

        
        <div class="d-flex justify-content-center align-items-start flex-wrap">
            <div class="card col-md-3 col-12">
                <div 
                  class="star d-flex justify-content-center align-items-center qualification"
                  >
                  <i class="far fa-star mr-1">
                    <img class="Estar" src="/assets/icons8-estrella-26 (1).png" alt="">
                  </i>8.5
                </div>
                    <img class="portada" src="/assets/1-black-widow.svg" alt="portada">
                      <p class="title-card link-regular">Black Widow</p>
      
            </div>
                <div class="card cl-md-3 col-12">
                  <div 
                    class="star d-flex justify-content-center align-items-center qualification"
                      >
                      <i class="far fa-star mr-1"><img class="Estar" src="./../assets/icons8-estrella-26 (1).png" alt=""></i>8.1
                  </div>
                      <img class="portada" src="/assets/2-shang-chi.svg" alt="portada">
                        <p class="title-card link-regular">Shang-Chi</p>
      
                </div>
                 <div class="card cl-md-3 col-12">
                      <div 
                        class="star d-flex justify-content-center align-items-center qualification"
                             >
                              <i class="far fa-star mr-1"><img class="Estar" src="./../assets/icons8-estrella-26 (1).png" alt=""></i>8.2
                      </div>
                          <img class="portada" src="/assets/3-loki.svg" alt="portada">
                            <p class="title-card link-regular">Loki</p>
      
                  </div>
                    <div class="card cl-md-3 col-12">
                        <div 
                            class="star d-flex justify-content-center align-items-center qualification"
                                  >
                                  <i class="far fa-star mr-1"><img class="Estar" src="./../assets/icons8-estrella-26 (1).png" alt=""></i>7.9
                        </div>
                              <img class="portada" src="/assets/4-how-i-met-your-mother.svg" alt="portada">
                                <p class="title-card link-regular">How i met your mother</p>
      
                    </div>
                        <div class="card cl-md-3 col-12">
                            <div 
                              class="star d-flex justify-content-center align-items-center qualification"
                                  >
                                  <i class="far fa-star mr-1"><img class="Estar" src="./../assets/icons8-estrella-26 (1).png" alt=""></i>7.8
                            </div>
                            <img class="portada" src="/assets/5-money-heist.svg" alt="portada">
                              <p class="title-card link-regular">Money Heist</p>    
                        </div>
                          <div class="card col-md-3 col-12">
                              <div 
                                class="star d-flex justify-content-center align-items-center qualification"
                                >
                                <i class="far fa-star mr-1"><img class="Estar" src="./../assets/icons8-estrella-26 (1).png" alt=""></i>8.5
                              </div>
                              <img class="portada" src="/assets/6-friends.svg" alt="portada">
                              <p class="title-card link-regular">Friends</p>
                          </div>
        
                            <div class="card col-md-3 col-12">
                              <div 
                                class="star d-flex justify-content-center align-items-center qualification">
                                <i class="far fa-star mr-1"><img class="Estar" src="./../assets/icons8-estrella-26 (1).png" alt=""></i>8.4
                              </div>
                                <img class="portada" src="/assets/7-the-big-bang-theory.svg" alt="portada">
                                <p class="title-card link-regular">The Big Bang Theory</p>
                              </div>
                              <div class="card cl-md-3 col-12">
                                <div 
                                  class="star d-flex justify-content-center align-items-center qualification"
                                  >
                                  <i class="far fa-star mr-1"><img class="Estar" src="./../assets/icons8-estrella-26 (1).png" alt=""></i>8.0
                                </div>
                                  <img class="portada" src="/assets/8-two-and-a-half-men.svg" alt="portada">
                                  <p class="title-card link-regular">Two and a Half Men</p>
        
                              </div>
  
  
        </div> 
  
  
       
  
  </section>
  <footer class="fixed-bottom d-flex justify-content-center aling-items-center">
    <p class="link-small">Hecho con Amor</p>
  
  </footer>
  