footer {
    margin-top: 0;
    height: 60px;
    color: white;    
   text-align: center;
   background: #1e3c72;
   background: -webkit-linear-gradient(to right, #2a5298, #091d42);
   background: linear-gradient(to right,#2a5298, #081835 );

}
.link-small {
    margin-top: 0px;
}
