<div class="card login mx-auto d-flex">
    
    <div class="image">
        <img class="Imagen" src="./assets/Saly-11.svg" alt="imagen">
    </div>
    <div class="container">
        <form (ngSubmit)="ingresar()" [formGroup]="loginForm">
            <h1 class="Inicio">Ingresar</h1>
            <input 
                class="form-control my-1" 
                type="email" 
                placeholder="Correo"
                formControlName="correo"
            >
            <span class="form-text text-danger" *ngIf="campoEsValido('correo')">
                Campo obligatorio
            </span>
            <input 
                class="form-control my-1" 
                type="password" 
                placeholder="Contrasena"
                formControlName="contrasena"
            >
            <span class="form-text text-danger" *ngIf="campoEsValido('contrasena')">
                Campo obligatorio
            </span>
            <br>
            
            
            <button  type="submit" class="btn-ingre btn-primary mt-3 mb-1">Ingresar</button>
            <br>
            <br>
            <br>
            <h1 style="color: green;" *ngIf="usuarioRegistrado == true">Usuario registrado correctamente</h1>
    
            
        </form>
        <button class="btn-goo btn-primary mt-3 mb-1"  (click)="ingresarConGoogle()"></button
            > 
            <br>
            <br>
            <br>
            
        
        <button class="btn-regis btn-primary mt-3 mb-1" (click)="register()"> No tienes cuenta? Registrate!</button>
        <h1 style="color: red;" *ngIf="ocurrioError == true">Ususrio invalido</h1>

    </div>
</div>