



.card {
    background: #1e3c72;
    background: -webkit-linear-gradient(to right, #2a5298, #091d42);
    background: linear-gradient(to right,#2a5298, #081835 );
    display: flex;
    
}
.container {
    background: #1e3c72;
    background: -webkit-linear-gradient(to right, #2a5298, #091d42);
    background: linear-gradient(to right,#2a5298, #081835 );
}


.login {
    
    width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

   