
<section class="container pt-70">
      <h1 class="title">PelisUp! </h1>
      <p class="body-regular description">
        Plataforma para ver peliculas y series
      </p>
      <form class="formulario d-flex" role="search">
        <input type="text" placeholder="Buscar peliculas o series" aria-label="buscar" 
        class="form-control"
        [(ngModel)]="parabuscar" (ngModelChange)="buscar(parabuscar)"[ngModelOptions]="{standalone:true}"
         >      
        
      </form>   


           
      <div class="d-grid gap-2 d-md-block">
          <button type="button" class="btn btn-primary" (click)="Change('Todos')"[ngClass]="selected =='Todos'?'button-Selected':'button-noSelected'">Todos</button>
          <button type="button" class="btn btn-primary" (click)="Change('movie')"[ngClass]="selected =='movie'?'button-Selected':'button-noSelected'">Peliculas</button>
          <button type="button" class="btn btn-primary" (click)="Change('tv')"[ngClass]="selected =='tv'?'button-Selected':'button-noSelected'">Series</button>
        </div> 
  <h3 class="all d-block">Todos <small class="body-regular"> (120)</small></h3>

</section>
<section class="wrapperCards">
  <div class="container">
      <div class="container-card">
          <div class="col-4 " *ngFor="let movie of movies_series.results">
            <app-cards [imagen]="movie.poster_path" [nombre]="movie.title || movie.original_name"></app-cards>

              <!-- <div class="card" *ngIf="selected == movie.media_type || selected == 'Todos' "> -->
              <!-- </div> -->
              
          </div>
      
      </div>
  
  </div>

  <!-- <button class="btn btn-primary" (click)="addtoFirestore()">Agregar</button>
    <button class="btn btn-secondary" (click)="getAllfromFirestore()">Obtener</button> -->
</section>








 <!-- <section class="wrapper-Cards">
  <div class="container ">
    <div class="row">
      <div class="col-4" *ngFor="let movie of movies_series.results">
        <div class="" *ngIf="selected == movie.media_type || selected == 'Todos' ">
                     
             
            <app-cards [imagen]="movie.poster_path" [nombre]="movie.title || movie.original_name"></app-cards>
    
            
        </div>
      </div> 
  
    </div>
    
  </div>  

</section>  -->
<!-- 
<div class="container">
  <div class="d-flex justify-content-center align-items-star flex-wrap">            
        <div class="col-md-3 col-12" *ngFor="let movie of movies_series.results">
          <div class="row" *ngIf="selected == 'Todos' ">
            <div class="star d-flex justify-content-center align-items-center qualification">
              <app-cards [imagen]="movie.poster_path" [nombre]="movie.title || movie.original_name"></app-cards>

            </div>
          </div>
        </div>
  </div>
</div>
<div class="container-card">
  <div class="d-flex justify-content-center align-items-star flex-wrap">            
        <div class="col-md-3 col-12" *ngFor="let movie of movies_series.results">
          <div class="row" *ngIf="selected == 'tv' ">
            <div class="star d-flex justify-content-center align-items-center qualification">
              <app-cards [imagen]="movie.poster_path" [nombre]="movie.title || movie.original_name"></app-cards>

            </div>
          </div>
        </div>
  </div>
</div> -->

 




        
  
    
        
         


